<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <div th:replace="fragments/header :: header-css" />
    <title>Web Journal</title>
</head>
<body>
<div th:replace="fragments/header :: header" />
<main role="main" class="container">
    <div class="row">
        <div class="col-md-8 notebook-main">
            <h3 class="pb-4 mb-4 font-italic border-bottom">
                Journal 2019
            </h3>

            <div class="document">
                <h2 class="blog-post-title">Document Title</h2>
                <p class="blog-post-meta">January 1, 2019 by <a href="#">dog@house.com</a></p>

                <p>This blog post shows a few different types of content that’s supported and styled with Bootstrap. Basic typography, images, and code are all supported.</p>
            </div>
            <div class="document">
                <h2 class="blog-post-title">Document Title</h2>
                <p class="blog-post-meta">January 2, 2019 by <a href="#">dog@house.com</a></p>

                <p>This blog post shows a few different types of content that’s supported and styled with Bootstrap. Basic typography, images, and code are all supported.</p>
            </div>
        </div>
    </div>
</main>
<div th:replace="fragments/footer :: footer" />
</body>
</html>